<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  
  <!-- 第一步：配置数据库连接池-->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName"  value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/sims?useUnicode=true&amp;characterEncoding=utf-8"/>
    <property name="username" value="root"/>
    <property name="password" value="1"/>
    <property name="maxActive" value="10"/>
    <property name="maxIdle" value="100"/>
    <property name="maxWait" value="10000"/>
  </bean>



	<!-- 用于提高数据库中CLOB、BLOB等字段的存、取效率，（可有可无) -->
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"  lazy-init="true"/>

	<!-- 第二步:配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
   		<property name="dataSource" ref="dataSource" />  
   		<property name="lobHandler" ref="lobHandler" />
   		<property name="hibernateProperties">   
      		<props>
         		<prop key="hibernate.show_sql">true</prop>
         		<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
      		</props>
   		</property> 
   		<property name="mappingDirectoryLocations">   
        	<list>   
            	<value>classpath:cn/sims/domain</value>   
        	</list>   
   		</property> 
	</bean>
	
	<!-- 第三步：配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
       <property name="sessionFactory">
          <!-- 指定需要管理事务的SessionFactory，即上面配置的 -->
          <ref bean="sessionFactory"/>
       </property>
    </bean>
	
  	<!-- 第四步：为事务管理器，配置事务的传播特性 -->
  	<tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
             <tx:method name="add*" propagation="REQUIRED"/>
             <tx:method name="del*" propagation="REQUIRED"/>
             <tx:method name="update*" propagation="REQUIRED"/>
             <tx:method name="mod*" propagation="REQUIRED"/>
             <tx:method name="*" read-only="true"/>
        </tx:attributes>
     </tx:advice>
  	
  	<!-- 第五步：配置AOP，即：使用AOP的方式将事务进行配置起来 -->
  	<aop:config>
          <aop:pointcut id="allServiceMethod" expression="execution(* cn.sims.services..*.*(..))"/>
          <aop:advisor id="serviceAdvice" pointcut-ref="allServiceMethod" advice-ref="txAdvice"/>
      </aop:config>
  	
  
</beans>
