@charset "UTF-8";
/**
 * @authors Tomastong (tobeyourhero@qq.com)
 * @date    2014-06-22 13:35:49
 * @version $Id$
 */
 h3{
 	margin: 5px auto 5px 400px;
 	font-weight: normal;
 }
 h3 time{
 	margin-left: 4px;
 }
 .head-float{
 	float:left;
 }
 h4{
 	margin-left: 145px;
 	margin-bottom: 0px;
 }
  h4 select, h4 button, .history-button{
 	margin-left: 20px;
 }
 .preview-box img{
 	margin-top: 20px;
	width: 200px;
	height: 200px;
	border-radius: 20px;
	border: 5px solid rgba(27,155,228,0.5);
 }
  .preview-box, .table-block{
  	display: inline-block;
  	float: left;
  }
.button-box{
	margin: 0px auto 20px 150px;
}
#begintime, #endtime{
	width: 150px;
}
.control-button{
	margin-left: 20px;
}
.div-top-1{
	margin: 10px 40px;
}
input[type!=radio]{
	width: 200px;
}
.offset-left{
	margin-left: 20px;
}
