@charset "UTF-8";
/**
 * @authors Tomastong (tobeyourhero@qq.com)
 * @date    2014-06-20 09:05:56
 * @version $Id$
 */
body{
	background-color: #0c3a6d;
	font-family: Georgia, "Times New Roman", Times, "宋体" serif;
	font-size: 16px;
}
 .wrapper{
 	width: 960px;
 	height: auto;
 	margin: 5px auto;
 	padding: 10px;
 	border-radius: 4px;
 	background-color: #f7f7f7;
 }
 .wrapper2{
 	height: auto;
 }
.header{
	min-height: 130px;
	max-height: 160px;
}
.header img{
	width: 950px;
	height: 130px;
}
.header, .wrapper2{
	min-width: 950px;
	padding: 5px;
	border: 1px #ccc solid;
	border-radius: 4px;
 	margin-bottom: 10px;
}
.sidebar, .main-content{
	float: left;
	min-height: 750px;
 	margin: 5px;
 	border: 1px #ccc solid;
 	border-radius: 4px;
}
 .sidebar{
 	width: 200px;
 }
 .main-content{
 	width: 720px;
 }
 .clear-float{
 	clear: both;
 }
